*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  font-family: "Avenir";
  --mainRed: #ff0000;
  --mainWhite: #ffff;
  --mainBlack: #000000;
  --mainGrey: #969696;
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--mainRed);
}

#start {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0 1rem;
  gap: 1rem;
}

#start button {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  padding: 0.5rem;
  border: none;
  cursor: pointer;

}

/* Obassistent image */
div {
  display: flex;
  justify-content: center;
}

img {
  width: 100vw;

}

.styleContent {
  width: 20rem;
  height: 30rem;
  background: rgb(0 100 200 / 41%);
  backdrop-filter: blur(1rem);
  border-radius: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 3rem auto;
}

/* Chat styling */

section#content form {
  margin: 0 0 1rem 0;
  padding: 0;
  width: 18rem;
  height: 2rem;
  display: flex;
}

section#content form input[type="text"] {
  background: #f5f7fb;
  border: none;
  border-radius: 25px;
  width: 90%;
  padding: 15px 25px;
}

section#content form>button {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  background: #0064c8;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

section#content li {
  background-color: rgba(255, 105, 180, 0.242);
  border-radius: 1em;
  margin: 1em;
}

section#content ul {
  margin: 0;
  padding: 0.2em;
  list-style-type: none;
  flex-grow: 2;
  width: 18em;
  overflow-y: scroll;
}

section#content ul>li {
  color: black;
  background: #f5f7fb;
  border-radius: 0 25px 25px 25px;
  width: 75%;
  padding: 10px 25px;
}

section#content h1 {
  color: var(--mainRed);
}

section#content h1>span {
  transform: rotateZ(269deg);
}

.chat {
  display: none;
}

#content {
  display: none;
}

#btnCategories {
  display: none;
}

section#titelLogo {
  display: flex;
}

section#titelLogo>h2:nth-last-of-type(2) {
  transform: rotate(-90deg);
}


/*********************/
/* WEBSITE MODE */
/*********************/
@media (min-width: 40em) {
  #start {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  #start button {
    min-width: 30rem;
  }

  img {
    width: 20%;
  }
}